<!DOCTYPE html>
<html>
<head>
    <title>parkingBuddy</title>
</head>
<body>
    <h1>Hello World! It's parkingBuddy!</h1>
    <form>
        Parking Floor:<br>
        <input type="text" name="parkingFloor"><br>
        Time to countdown:<br>
        <input type="text" name="timeToCountdown">
    </form>
  <ul class=events>
  {% for event in events %}
    <li><p>lat:{{ event.lat }}</p> <p>long: {{ event.long}}</p><p>floor: {{event.floor}}</p><p>arrivDep: {{event.arrivDepart}}</p>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
    <ul class=garages>
  {% for garage in garages %}
    <li><p>{{ garage.lat }}</p> <p>{{ garage.long}}</p>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
</body>
</html>